.App {
  text-align: center;
}

.body-background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.icon-form{
  width: 20%;
  margin-right: 80px;
}

.icon-profile{
  width: 50%;
}

.style-image-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-icon{
  width: 20%;
}

.body-card-style{
  background-color: darkorchid;
  display: flex;
  flex-direction: row-reverse;
}

.card-register-data{
  background-color: darkorchid;
}

.section-previous-data{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column-icon{
  text-align: right;
  width: 50%;
  margin-top: 20px;

}

.column-text{
  width: 40%;
  margin-top: 20px;

}

.card-title{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons-steps{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  color: black;
}
